.contenedorPadre {
    border: 1px solid black;
    background-color: aqua;
    display: flex;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;

}

.contenedorPadre div {
    background-color: crimson;
    padding: 10px;
    width: 50px;
    height: 50px;
    
    
}