
#contenedor-principal{
    border-color: black;
    border-style: solid;
    border-radius:10%;
    border-width:5px;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    justify-content: center;
    background-color: orange;
    /* PROPIEDAD DE SOMBRA AGREGADA */
    box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.4);
    /* CAMBIOS CLAVE PARA CENTRAR UN HIJO FLEX: */
    display: flex; 
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    align-self: center;
    display: flex;
    

}

#pantalla-resultado{
    
    width: 100%;
    height: 70px; /* Altura del display */
    background-color: white;
    
    /* Alinear texto */
    display: flex;
    justify-content: flex-end; /* Texto a la derecha */
    align-items: flex-end; /* Texto abajo */
    padding: 5px;
    
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    box-sizing: border-box; /* Para que el padding no deforme el ancho */
    border: 5px solid black;
    border-width: 5px;
    
}


#bordeDisplay {
    margin-top: 10px;
    width: 90%;
    background-color: white;
    border: 8px solid #FFC000; /* EL BORDE NEGRO GRUESO */
    border-radius: 5px;
    margin-bottom: 20px; /* Separa el display de los botones */
    overflow: hidden; /* Asegura que lo de adentro no se salga */
    
}

#contenedor-amarillo{

    background-color: #FFC000; 
    border-radius: 20px; 
    
    /* Reducimos o quitamos el padding para evitar espacio extra */
    padding: 0px; 
    box-sizing: border-box; 
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;

    width: 95%;
    height: 100%;
    background-color: yellow;
    border-top: 0;
    border-bottom: 0;
    border-radius: 10px;

    
}

#contenedor-botones{
    display: flex;
    margin: 5%;
    font-weight: bold;
    font-size: 40px;
}

.blanco{
    color: black;
    background-color: white;
    font-weight: bold;
    width: 70px;
    height: 60px;
    padding: 20px;

    border-radius: 10px;
}

.rosa{
    color: black;
    background-color: #FF0080;
    font-weight: bold;
    width: 70px;
    height: 60px;
    padding: 20px;
    margin-bottom: 5%;
}


.azul{
    background-color:#00BFFF;
    font-weight: bold;
    width: 70px;
    height: 60px;
    padding: 20px;
    margin-bottom: 5%;

}







