
#contenedor-principal{
    border-color: black;
    border-style: solid;
    border-radius:10%;
    border-width:5px;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    justify-content: center;
    background-color: orange;
    /* PROPIEDAD DE SOMBRA AGREGADA */
    box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.4);
    /* CAMBIOS CLAVE PARA CENTRAR UN HIJO FLEX: */
    display: flex; 
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    align-self: center;
    display: flex;
    

}

#pantalla-resultado{
    margin: 4%;
    border-style: solid;
    border-color: black;
    border-width:5px;
    height: 45px;
    width: 250;
    border-radius: 5px;
    margin-top: 30px;
    background-color: white;
    font-weight: bold;
    display:flex;
    align-items:end;
    /* CAMBIO CLAVE: Usar justify-content 
    para alinear el contenido al final del eje principal */
    justify-content: flex-end;
    padding-bottom: 40px;
    font-size: 30px;
    
}

#contenedor-amarillo{
    width: 95%;
    height: 100%;
    background-color: yellow;
    border-top: 0;
    border-bottom: 0;
    border-radius: 10px;
    font-size: 50px;
}

#contenedor-botones{
    display: flex;
    margin: 5%;
    font-weight: bold;
    font-size: 40px;
}

.blanco{
    color: black;
    background-color: white;
    font-weight: bold;
    width: 70px;
    height: 60px;
    padding: 20px;
    margin-bottom: 5%;
    border-radius: 10px;
    border-width:  3px;
    font-size: 22px;
}

.rosa{
    color: black;
    background-color: #FF0080;
    font-weight: bold;
    width: 70px;
    height: 60px;
    padding: 20px;
    margin-bottom: 5%;
    border-radius: 10px;
    border-width:  3px;
    font-size: 22px;
}


.azul{
    background-color:#00BFFF;
    font-weight: bold;
    width: 70px;
    height: 60px;
    padding: 20px;
    margin-bottom: 5%;
    border-radius: 10px;
    border-width:  3px;
    font-size: 22px;

}







