body{
    background-color: antiquewhite;
    text-align: center;
}

.caja{
    border: 4px solid black;
    background-color: white;
    line-height: 150px;
    text-align: center;
    
    

}

.contenedor-grid{
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto 45% auto;
    background-color: lightgreen;
    border: 1px solid black;
    
    
}

.c1{
    grid-column: 1/4;
    background-color: lightblue;
}
.c2 {
    grid-column: 1/ 4;
    background-color: aquamarine;
}

.c3{
grid-column: 1 /3;
grid-row: 3/5;
}

.c5{
 grid-column: 1/4;
}