@import "tailwindcss";

@variant dark (&:where(.dark, .dark *)); /* <--- AÑADE ESTA LÍNEA */

@theme {
  --color-club: #166534; 
  --shadow-club: 0 10px 15px -3px rgba(22, 101, 52, 0.4);
  --font-club: "Inter", sans-serif;
}

@utility btn-socio {
  /* En v4, si la variable está en @theme, la usas sin guiones extra */
  @apply bg-club text-white font-bold py-3 px-8 rounded-full transition-all duration-300 shadow-club;
  @apply hover:scale-110 hover:bg-sky-500; 
  @apply lg:text-xl lg:px-12; 
}

@utility btn-principal {
  @apply px-5 py-2 rounded-lg font-medium transition-colors border-2;
  /* Modo Claro */
  @apply bg-white border-club text-club hover:bg-green-50;
  /* Modo Oscuro */
  @apply dark:bg-gray-800 dark:border-green-400 dark:text-white dark:hover:bg-gray-700;
}