body{
    margin: 0;
    padding: 0;
}
.cabecera {
    display: flex;
    border: 3px solid black; 
    justify-content:space-between;    
    background-color: rgb(119, 119, 119);
    font-weight: bold;
    color: white;
    align-items: center;
}

.cabecera li {
    display: flex;
    justify-content: right;
    display: inline;
    padding: 5px; 

    

}

.hero{
display: grid;
grid-template-columns: auto auto auto auto;
border: 2px solid black;
height: 150px;
justify-content: space-around;
background-color: grey;
align-items: center;


}

.curso-card{
    width: 200px;
    height: 80px;
    border: 1px solid black;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-section  {
    background-color: beige;
    display: grid;
    grid-template-columns:  60% auto;

}

.info-texto{
    display: flex;
    justify-content: flex-end;
    text-align: left;
    align-items: center;
    font-size: 30px;
    padding-left: 20px;
}

.info-imagen {
    padding: 20px;
    display: flex;
    justify-content: right;
}

.fotoBanner img {
   width: 100%;
   display: block;
}

footer{
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
  
}


.footer-links{
    display: flex;
    justify-content: center;
    gap: 15px;
}



