.logo{
    border: 2px;
    border-style: solid;
    background-color: grey;

}

.logo ul,li {

display: inline;


}

.cabecera {
    display: flex;
    flex: row;

    justify-content: space-between;
}